<div class="card">
  <div class="card-content">
    <h4>Payroll Report for<%= @emp_payroll.employee_name %></h4>
    <h5><%= @emp_payroll.employee.role.capitalize %></h5><br />

    <b>Social Security Number:&nbsp;&nbsp;</b><br>
      <%= number_to_ssn @employee.ssn %><br>

    <b>Pay Grade:&nbsp;&nbsp;</b><br>
      <%=  @emp_payroll.pay_grade.level %><br>

    <b>Pay Rate:&nbsp;&nbsp;</b><br>
      <%=  @emp_payroll.pay_grade_rate.rate %><br /><br />

    <b>Total Hours Worked:&nbsp;&nbsp;</b><br>
      <%= @emp_payroll.hours %><br /><br />

    <b>Total Pay Earned:&nbsp;&nbsp;</b><br>
      <%= @emp_payroll.pay_earned %><br /><br />
  </div>
</div>
