<div class="row">
  <div class="col s9">
    <div class="card">
      <div class="card-content">
        <span class="card-title">New Payroll Report</span>
        <%= simple_form_for :employee, :url => '/payrolls', method: 'post' do |f| %>
          <%= f.error_notification %>
          <div class="row">
            <div class="form-inputs">
              <%= f.input :start_date, as: :date, selected: Date.today-2.weeks, label_html: {class: 'active'}%>
              <%= f.input :end_date,  as: :date, label_html: {class: 'active'}, selected: Date.today%>
              <%= f.input :store_id, collection: Store.alphabetical.active.to_a, selected: @store.id, include_blank: false%>
          </div>
        </div>
      </div>
    </div>
      <div class="row">
        <div class="form-actions col s9">
          <%= f.button :submit, 'Calculate Payroll' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<%= link_to 'Back', :back %>
