<div class="card">
  <div class="card-content">
    <h5><%= state.capitalize %> Employees at
        <%= link_to store_path(@store) do %>
          <%= @store.name %> Store
      <% end %>
    </h5>
    <% if employees.empty? %>
      <p>There are no <%= state.capitalize %> at <%= store.capitalize %> Store</p>
    <% else %>

      <table class="striped highlight">
        <thead>
          <th>Name</th>
          <th>Phone</th>
          <th class="align_center">Add Shift</th>
          <th>Shifts Missed in Past Week</th>
        </thead>
        <% for employee in employees %>
          <tr class="<%= cycle('dg_list_line_odd', 'dg_list_line_even') %>">
            <td>
              <% if can? :show, employee %>
                <%= link_to employee.name, employee_path(employee) %>
              <%else%>
                <%=  employee.name %>
              <% end %>
            </td>
            <td><%= number_to_phone employee.phone %></td>
            <td class="align_center">
              <% unless current_user.role?(:employee) %>
                <%= link_to new_shift_path(assignment_id: employee.current_assignment.id) do %>
                  <i class="material-icons">add_circle</i>
                <% end %>
              <% end %>
            </td>
          <td><%= employee.shifts.for_past_days(7).pending.count %></td>
          </tr>
        <% end %>
      </table>
      <p class="supertiny"></p>
      <br />
    <% end %>
  </div>
</div>
