<div class="card">
  <div class="card-content">
    <h5>Upcoming Shifts</h5>

    <% if @upcoming_shifts.empty? %>
      <p>There are no upcoming shifts at this time.</p>
    <% else %>

      <table class="striped highlight">
        <thead>
          <th>Employee Name</th>
          <th>Store Name</th>
          <th>Date</th>
          <th>Start Time</th>
          <!-- <th>Status</th> -->
          <th class = "align_center">View Details</th>
          <th> Options</th>
        </thead>
        <% @upcoming_shifts.each do |shift| %>
          <tr %>
            <td><%= link_to shift.employee.name, employee_path(shift.employee) %></td>
            <td><%= link_to shift.store.name, store_path(shift.store) %></td>
            <td><%= shift.date.strftime('%b %d, %Y') %></td>
            <td><%= shift.start_time.strftime('%l:%M %p') %></td>
            <td class = "align_center">
              <%= link_to shift_path(shift) do %>
                <i class="material-icons">details</i>
              <% end %>
          </td>
            <td>
              <%= link_to edit_shift_path(shift) do %>
                <i class="material-icons">edit</i>
              <% end %>

              <% if shift.status == 'pending' %>
                <%= link_to(shift_path(shift), method: :delete, data: { confirm: 'Are you sure you wish to delete this shift?' }) do %>
                    <i class="material-icons">delete</i>
                <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>
      <p class="supertiny"></p>
      <br />
      <%= will_paginate @upcoming_shifts, previous_label: "Previous&nbsp;", next_label: "&nbsp;Next" %>
      <br />
    <% end %>
  </div>
</div>
