

<% unless @jobs_completed.empty? %>
  <div class="card">
    <div class="card-content">
      <h5>Jobs Completed</h5>

      <table class="striped highlight">
        <thead>
          <th>Name</th>
          <th>Description</th>
          <th>Options</th>
          <!-- if clause -->
        </thead>
        <% @jobs_completed.each do |job| %>
          <tr %>
            <td><%= link_to job.name, job_path(job) %></td>
            <td><%= job.description %></td>
            <td>
            <%= link_to(shift_job_path(shift_id: @shift.id, job_id: job.id), method: :delete, data: { confirm: 'Are you sure you wish to remove this job from shift?' }) do %>
                <i class="material-icons">delete</i>
            <% end %>
            </td>
          </tr>
        <% end %>
      </table>
      <p class="supertiny"></p>
      <br />
    </div>
    <% #if shift.status == 'pending' %>
      <div class="card-action">
        <%= link_to "Add Job to Shift", new_shift_job_path(shift_id: @shift.id) %>
      </div>
    <% #end %>
  </div>
<% else %>

  <div class="card-action">
    <%= link_to "Add Job to this Shift", new_job_shift_path(shift_id: @shift.id) %>
  </div>

<% end %>
