<div class="card">
  <div class="card-content">
      <% if shifts.empty? %>
        <h5>There are no <%= state.downcase %> shifts at this time.</h5>
      <% else %>
        <h4><%= state.capitalize %> Shifts</h4>
      <table class="striped highlight">
        <thead>
          <th>Employee Name</th>
          <th>Store Name</th>
          <th>Date</th>
          <th>Start Time</th>
          <th>End Time</th>
          <!-- <th>Status</th> -->
          <th class = "align_center">View Details</th>
          <th> Options</th>
        </thead>
        <% for shift in shifts %>
          <tr class="<%= cycle('dg_list_line_odd', 'dg_list_line_even') %>">
            <td><%= link_to shift.employee.name, employee_path(shift.employee) %></td>
            <td><%= link_to shift.store.name, store_path(shift.store) %></td>
            <td><%= shift.date.strftime('%b %d, %Y') %></td>
            <td><%= shift.start_time.strftime('%l:%M %p') %></td>
            <td><%= shift.end_time.nil? ? "#{shift.status.capitalize}" : shift.end_time.strftime('%l:%M %p') %></td>
            <!-- <td><%= shift.status.capitalize %> </td> -->
            <td class = "align_center">
              <%= link_to shift_path(shift) do %>
                <i class="material-icons">details</i>
              <% end %>
          </td>
            <td>
              <%= link_to edit_shift_path(shift) do %>
                <i class="material-icons">edit</i>
              <% end %>

              <% if shift.status == 'pending' %>
                <%= link_to(shift_path(shift), method: :delete, data: { confirm: 'Are you sure you wish to delete this shift?' }) do %>
                    <i class="material-icons">delete</i>
                <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>
      <p class="supertiny"></p>
      <br />
      <%= will_paginate shifts, previous_label: "Previous&nbsp;", next_label: "&nbsp;Next" %>
      <br />
    <% end %>
  </div>
</div>
