<div class="card">
  <div class="card-content">
    <h4><%= state.capitalize %> Pay Rates at AMC</h4>
    <% if pay_grade_rates.empty? %>
      <p>There are no <%= state.downcase %> Pay Rates at this time.</p>
    <% else %>
      <table class="striped highlight">
        <thead>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Rate</th>
          <th>Pay Grade Level</th>
        </thead>
        <% for rate in pay_grade_rates %>
          <tr>
            <td><%= rate.start_date.strftime('%b %d, %Y') %></td>
            <td><%= rate.end_date.nil? ? 'Current' : rate.end_date.strftime('%b %d, %Y') %></td>
            <td><%= rate.rate %></td>
            <td><%= rate.pay_grade.level %></td>
          </tr>
        <% end %>
      </table>
      <p class="supertiny"></p>
      <br />
      <%= will_paginate pay_grade_rates, previous_label: "Previous&nbsp;", next_label: "&nbsp;Next" %>
    <% end %>
  </div>
</div>
